doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name="description" content="Генератор смешных фентезийных имен.")
		meta(name="keywords" content="генератор имен, генератор фентезийных имен, смешные имена, фентезийные имена, случайные имена, фентези")
		meta(property="og:title" content="Имедар | Генератор смешных фентезийных имен")
		meta(property="og:description" content="Генератор смешных фентезийных имен.")
		meta(property="og:image" content="https://lyutkin.github.io/imedar/img/preview.png")
		meta(property="og:image:width" content="1200")
		meta(property="og:image:height" content="600")
		meta(name="msapplication-TileColor" content="#ffcebe")
		meta(name="theme-color" content="#ffffff")
		block title
		link(rel='stylesheet' href='style/app.css')
		link(rel="image_src" href="https://lyutkin.github.io/imedar/img/preview.png")
		link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
	block content
